.profile {
    list-style: none;
}

.profile h4 {
    font-size: 20px;
    text-align: center;
}

.profile p {
    font-size: 16px;
    text-align: center;
}

.profile img {
    width: 200px;
    border: 2px solid #fff;
}